@use "./variables" as *;
@use "./functions" as *;
@use "./colors" as *;
@use "sass:map";

//param:default value
@mixin flex($direction, $justify) {
  display: flex;
  @if ($justify != null) {
    flex-direction: $direction;
  }
  align-items: center;
  justify-content: $justify;
  flex-wrap: wrap;
}

@mixin grid($cols, $gap) {
  display: grid;
  grid-template-columns: repeat($cols, 1fr);
  grid-template-rows: auto;
  gap: px-to-rem($gap);
  overflow: hidden;
}

@mixin top-right($top, $right) {
  position: absolute;
  top: px-to-rem($top);
  right: px-to-rem($right);
}
@mixin absolute-position-all($val) {
  position: absolute;
  top: $val;
  left: $val;
  bottom: $val;
  right: $val;
}

$breakpoints-up: (
  "medium": px-to-em(700),
  "large": px-to-em(900),
  "xlarge": px-to-em(1440),
) !default;
$breakpoints-down: (
  "small": px-to-em(699.98),
  "medium": px-to-em(899.98),
  "large": px-to-em(1439.98),
) !default;

@mixin breakpoint-up($size) {
  @media only screen and (min-width: map-get($breakpoints-up, $size)) {
    @content;
  }
}

@mixin breakpoint-down($size) {
  @media only screen and (max-width: map-get($breakpoints-down, $size)) {
    @content;
  }
}
