@use "../utils" as *;

.cart {
  @include flex(column);
  gap: $spacing-xl;
  padding-bottom: $spacing-2xl;
  &__content {
    padding-top: $spacing-2xl;
    @include flex(row, center);
    gap: $spacing-xl;

    @include breakpoint-up(medium) {
    }
  }

  &__summary {
    @include grid(1, 4);
    width: 300px;
    border-radius: $radius-md;
    background-color: var(--surface-color);
    color: var(--on-surface);
    box-shadow: var(--light-shadow);
    padding: $spacing-lg;

    &--content {
      @include grid(2, 16);
      padding-block: $spacing-sm;
    }
    &--price {
      font-weight: $font-heavy;
    }
  }
}
