@use "../utils/" as *;

.details {
  @include grid(1, 20);
  padding-block: $spacing-xl;

  @include breakpoint-up(large) {
    @include grid-unequal(2, (1fr 4fr), 10);
  }

  &__image,
  &__content {
    background-color: var(--surface-color);
    box-shadow: var(--light-shadow);
    border-radius: $radius-md;
    padding: $spacing-xl;
  }
  &__image {
    justify-self: center;
    align-self: center;
    max-width: 300px;
    color: var(--surface-color);
    @include breakpoint-up(large) {
      justify-self: right;
      max-width: 450px;
    }
  }

  &__content {
    @include flex(column, center);
    gap: $spacing-md;
    text-align: center;

    &--title {
      font-weight: $font-heavy;
    }
    &--description {
      padding-block: $spacing-lg;
      line-height: 1.5;
    }
    &--category {
      color: var(--sub-text-color);
    }
    &--price {
      color: var(--primary-color);
      font-weight: $font-heavy;
    }
    &--button {
      color: var(--primary-color);
    }
  }
}
