@use "../utils" as *;

header {
  background-color: var(--surface-color);
  box-shadow: var(--light-shadow);
  padding-block: $spacing-md;
  transition: $transition;

  .nav {
    @include flex(row, space-between);
    padding-inline: $spacing-sm;
    @include breakpoint-up(medium) {
      padding-inline: $spacing-md;
    }

    &__logo {
      color: var(--primary-color);
      @include flex(row, flex-start);
      gap: $spacing-xs;
      svg {
        height: #{$header-font};
      }
      &--title {
        padding-top: $spacing-sm;

        font-size: #{$header-font};
      }
    }
    &__toggle {
      font-size: $font-md;
      border: none;

      @include breakpoint-up(medium) {
        font-size: $font-lg;
      }
    }
    &__pagination {
      @include flex(row);
      overflow: visible;
      gap: $spacing-xs;

      .home-button {
        @include breakpoint-down(medium) {
          padding: $spacing-xs;
        }
      }
    }
    &__cart {
      position: relative;
      z-index: 1;

      &--icon {
        border: none;
        position: relative;
        font-size: #{$header-font};
        color: var(--secondary-color);
        transition: $transition;
      }
      &--count {
        @include top-right(-4, -3);
        border-radius: $radius-round;
        color: var(--on-secondary);
        background: var(--secondary-color);
        font-weight: $font-normal;
        font-size: $font-base;
        padding: px-to-rem(4) px-to-rem(7);
        border: 3px solid var(--surface-color);
        z-index: 10;
        transition: $transition;
        transform: scale(0.9);
        @include breakpoint-up(medium) {
          @include top-right(-5, -4);
        }
      }

      &:hover {
        .nav__cart--icon {
          transform: scale(1.1) rotate(-10deg);
        }
        .nav__cart--count {
          transform: scale(1);
        }
      }
    }
  }
}
