@use "../utils" as *;

$header-font: clamp(px-to-rem(32), px-to-rem(16) + 2vw, px-to-rem(48));
header {
  background-color: $secondary-color;
  box-shadow: $light-shadow;
  padding-block: px-to-rem(20);

  .nav {
    @include flex(row, space-between);
    padding-inline: px-to-rem(10);
    @include breakpoint-up(medium) {
      padding-inline: px-to-rem(16);
    }

    &__logo {
      color: $primary-color;
      @include flex(row, flex-start);
      gap: px-to-rem(5);
      svg {
        height: $header-font;
      }
      &--title {
        padding-top: px-to-rem(10);
      }
    }
    &__cart {
      position: relative;
      &--button {
        @extend .button;
        font-size: $header-font;
        color: $primary-color;
      }
      &--items {
        position: absolute;
        @include top-right(-10, 0);
        border-radius: $radius-lg;
        color: $secondary-color;
        background: $tertiary-color;
        font-weight: $font-medium;
        padding: px-to-rem(5) px-to-rem(8);
        border: 3px solid $secondary-color;
      }
    }
  }
}
