@use "../utils/" as *;

.products-list {
  @include grid(2, 10);

  @include breakpoint-up(large) {
    grid-template-columns: repeat(4, 1fr);
  }

  .product {
    position: relative;
    @include flex(column, null);
    width: min(px-to-rem(250), px-to-rem(400));
    text-align: center;
    color: $tertiary-color;
    background-color: $secondary-color;
    box-shadow: $light-shadow;
    padding: px-to-rem(20);
    border-radius: $radius-md;

    &:hover {
      box-shadow: $light-shadow;
    }
    &__image {
      object-fit: contain;
      width: 100%;
      height: px-to-rem(100);
    }
    &__content {
      padding-block: px-to-rem(20);

      &--title {
        font-weight: $font-thick;
      }
      &--price {
        @include top-right(10, 10);
        padding: px-to-rem(10);
        background-color: lighten($primary-color, 10%);
        border-radius: $radius-md;
        color: $secondary-color;
      }
      &--category {
        text-transform: capitalize;
      }
    }
    &__footer {
      @include flex(row, space-between);
      &--button {
        @extend .button;
        padding: px-to-rem(10);
        &:hover {
          background: lighten($primary-color, 10%);
          transition: $transition;
          color: $secondary-color;
        }
      }
    }
  }
}
